/*=Custom
-----------------------------------------------------------*/
/* footer */

.footer-heading a {
	color: white;
	text-decoration: none;
}
.nav-footer {
	justify-content: center;
}
.nav-footer .nav-link {
	color: white;
}
.account-tabs a {
	color: white;
	margin: 0 10px;
	text-decoration: none;
}
.navbar-dark .navbar-nav a.nav-link {
	color: white;
}
.account-tabs a:hover,
.navbar-dark .navbar-nav a.nav-link:hover {
	text-decoration: underline;
    color: rgba(255, 255, 255, 0.75);
}